body {
    color: #cccccc;
    background: #333333;
}

.comic-display-pic {
    height: auto;
    width: 30%;
}

nav {
    color: #cccccc;
    background-color: #000000;
}

a.custom-nav-item{
    color: #cccccc;
}
